.content{
    display: flex;
    flex-wrap: wrap;
    gap:  10px;
}
.item{
    flex-grow: 1;
    flex-basis: 300px;
    background: linear-gradient(to left, #FFD89B, #19547B);
    color: #fff;
    height: 10vh;
    font-size: 3em;
    text-align: center;
    border-radius: 10px;
}